<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>SlideshowBox Embed Code Test</title>
	<style type="text/css">body {margin: 0; padding: 0; text-align: center; background-color: #000000;} div {position: relative; margin: auto; text-align: center;}</style>
	<script type="text/javascript">
		<!-- Begin Vertical alignment -->
		function getWindowHeight() {var windowHeight = 0; if (typeof(window.innerHeight) == 'number') {windowHeight = window.innerHeight;} else {if (document.documentElement && document.documentElement.clientHeight) { windowHeight = document.documentElement.clientHeight;} else { if (document.body && document.body.clientHeight) {windowHeight = document.body.clientHeight;}}}	return windowHeight;}		
		function setContent() {if (document.getElementById) {var windowHeight = getWindowHeight(); if (windowHeight > 0) {var contentElement = document.getElementById('content'); var contentHeight = contentElement.offsetHeight; if (windowHeight - contentHeight > 0) {contentElement.style.position = 'relative';contentElement.style.top = ((windowHeight / 2) - (contentHeight / 2)) + 'px';}else { contentElement.style.position = 'static';}}}}
		window.onload = function() {setContent();} 
		window.onresize = function() {setContent();}
		<!-- END Vertical alignment -->
	</script>
</head>

<body>

	<div id="content">
<script type="text/javascript" src="swfobject.js"></script>
<script type="text/javascript">swfobject.registerObject("ThumbnailWall1312907468185", "9.0.115");</script>
<object id="ThumbnailWall1312907468185" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="600">
	<param name="movie" value="ThumbnailWall.swf">
	<param name="allowFullScreen" value="true">
	<param name="bgcolor" value="#1C1C1C">
	<param name="wmode" value="window">
	<param name="flashvars" value="domainKeys=&source=source-php.xml&audioFile=&audioPlayerIcon=speaker&audioPlayerColor=0xFFFFFF&loopAudio=true&audioPlayMode=synchronizeWithSlideshow&autoSlideShow=true&slideShowSpeed=2&backgroundVisible=true&backgroundColor=0x1C1C1C&backgroundImage=&scaleBackground=true&loadOriginalImages=false&controlBarAlpha=1&controlBarPrimaryColor=0x333333&controlBarSecondaryColor=0xCCCCCC&navigationControls=true&slideShowControls=true&fullScreenButton=true&scrollButtons=true&thumbWidth=100&thumbHeight=100&thumbSpacing=10&thumbScaleMode=scale&thumbBorderSize=3&thumbOverColor=0x00A3FD&thumbUpColor=0xFFFFFF&dockThumbWidth=38&dockThumbHeight=38&dockThumbBorderSize=4&dockThumbBorderColor=0xFFFFFF&dockThumbSelectedBorderColor=0x33CCFF&showImageInfos=true&largeImageScaleMode=scale&topMargin=10&bottomMargin=5&leftMargin=5&rightMargin=5&largeImageBorderSize=3&preloaderPosition=centered&textColor=0x333333&textBackgroundColor=0xFFFFFF" />
	<!--[if !IE]>-->
	<object type="application/x-shockwave-flash" data="ThumbnailWall.swf" width="800" height="600">
	<!--<![endif]-->
		Please install the latest version of Flash Player to view this content
		<param name="allowFullScreen" value="true">
		<param name="bgcolor" value="#1C1C1C">
		<param name="wmode" value="window">
		<param name="flashvars" value="domainKeys=&source=source-php.xml&audioFile=&audioPlayerIcon=speaker&audioPlayerColor=0xFFFFFF&loopAudio=true&audioPlayMode=synchronizeWithSlideshow&autoSlideShow=true&slideShowSpeed=2&backgroundVisible=true&backgroundColor=0x1C1C1C&backgroundImage=&scaleBackground=true&loadOriginalImages=false&controlBarAlpha=1&controlBarPrimaryColor=0x333333&controlBarSecondaryColor=0xCCCCCC&navigationControls=true&slideShowControls=true&fullScreenButton=true&scrollButtons=true&thumbWidth=100&thumbHeight=100&thumbSpacing=10&thumbScaleMode=scale&thumbBorderSize=3&thumbOverColor=0x00A3FD&thumbUpColor=0xFFFFFF&dockThumbWidth=38&dockThumbHeight=38&dockThumbBorderSize=4&dockThumbBorderColor=0xFFFFFF&dockThumbSelectedBorderColor=0x33CCFF&showImageInfos=true&largeImageScaleMode=scale&topMargin=10&bottomMargin=5&leftMargin=5&rightMargin=5&largeImageBorderSize=3&preloaderPosition=centered&textColor=0x333333&textBackgroundColor=0xFFFFFF" />
	<!--[if !IE]>-->
	</object>
	<!--<![endif]-->
</object>
		<!-- Embed code ends here -->
		
	</div>
</body>

</html>